body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

.topbar {  
    height: 3.375rem;
    position: fixed;
    top: 0;
	right: 0;
    left: 0;
    z-index: 1500;
    width: 100%;
	background-color: #0085D8;
}

.img-profile {
	width: 39px;
    border-style: solid;
}

.shadow {
  box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.breadcrumb {
	background-color: transparent;
	margin-top: 1rem;
	margin-left: 1rem;
	font-size: 0.85rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.create {
    margin-top: 1.5rem;
    float: right;
}

.save, .reset{
    float: right;
	margin-left: 15px;
}

.btn {
	font-size: .9rem;
}

.btn-link {
  color: #fff;
}

.btn-link:hover {
    color: #fff;
}

td i, .btn i {
	padding-right: 15px;
}

.topbar .nav-item .nav-link {
    height: 3.15rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
}

.topbar .dropdown-list {
    width: 20rem !important;
}

.topbar .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
}

.dropdown-menu {
	font-size: .85rem;
}

.topbar .dropdown-list .dropdown-header {
    background-color: #0085D8;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
	font-weight: 800;
    font-size: 0.9rem;
}

.topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
}

.icon-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item i {
    font-size: 21px;
}

.topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(0.7);
    transform-origin: top right;
    right: .6rem;
    margin-top: -0.75rem;
}

.text-gray-500 {
    color: #b7b9cc !important;
}

.topbar .topbar-divider {
    border-right: 1px solid #fff;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}

.text-gray-400 {
    color: #d1d3e2 !important;
}

#wrapper {
    display: flex;
    margin-top: 3.375rem;
	position: relative;
}

.sidebar {
    width: 14rem;
    min-height: 100vh;
}

.sidebar-dark .nav-item .nav-link {
    color: rgb(68 68 76 / 80%);
	text-align: left;
    padding: 1rem;
    width: 14rem;
}

.sidebar .nav-item .nav-link:hover {
	color: #0085D8;
	font-weight: bold;
}

.sidebar .nav-item .nav-link i {
	color: rgb(68 68 76 / 80%);
    font-size: 0.85rem;
    margin-right: 0.25rem;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.85rem;
    display: inline;
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar .sidebar-heading {
    color: rgb(68 68 76 / 40%);
	text-align: left;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
	text-transform: uppercase;
}

.sidebar-dark .nav-item.active .nav-link {
    color: #0085D8;
	text-align: left;
    padding: 1rem;
    width: 14rem;
	font-weight: bold;
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #0085D8;
}

.sidebar.toggled {
    overflow: visible;
    width: 6.5rem !important;
}

.sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    width: 6.5rem;
}

.sidebar.toggled .nav-item .nav-link i {
    margin-right: 0;
}

.sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}

.sidebar.toggled .sidebar-heading {
    text-align: center;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
    padding: 0 30px 30px 30px;
}

input {
	outline: none;
	width: 81%;
}

.basicInfo span {
	font-size: 0.85rem;
}
#detailed-info span {
	font-size: 0.85rem;
}

.current span {
	font-size: 0.85rem;
}

#searchbar input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
#searchbar input::-webkit-search-decoration,
#searchbar input::-webkit-search-cancel-button {
	display: none; 
}

.card {
	border: none;
	margin-bottom: 2rem;
}

.card-header {
    background-color: #F7FAFC;
    color: #0085D8;
    border-bottom: 0px;
	font-size: 0.85rem;
	font-weight: bold;
}

.card-body input {
    float: right;	
    background-color: #F7FAFC;
    border: 0px;
    border-radius: 0.25rem;
    padding: 6px 12px;
    font-size: 0.85rem;
    color: #444444;
} 

 .card-body input[type="text"]::placeholder { 
    text-align: left;
	font-size: 0.85rem;
	padding: .75rem;
} 

 .card-body input::placeholder { 
    text-align: left;
	font-size: 0.85rem;
	padding: .75rem;
}

.card-body select {
	width: 81%;
    float: right;
    background-color: #F7FAFC;
    border: 0px;
    border-radius: 0.25rem;
	font-size: 0.85rem;
    color: #444444;
    padding: 6px 2px;
}

.card-body .form-check-inline {
    display: -webkit-inline-box;
    width: 26%;
    font-size: .85rem;
}

.card-body .form-check-inline .form-check-input {
    margin-right: -2.6875rem;
}

.card-body .form-group {
    margin-bottom: 1.5rem;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Search Bar */
.searchbar input[type=search] {
	margin: 0rem !important;
}
.searchbar input[type=search]:focus {	
	width: 120vh !important;
}
#searchbar input[type=search] {
	background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: none;
	padding: 9px;
	width: 55px;
	float: right;
	margin: 1.5rem 2.5rem;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#searchbar input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	box-shadow: 0 0 5px rgba(0,133,216,.5);	
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
#searchbar input[type=search] {
	width: 15px;
	padding-left: 10px;
	margin-top: 1.5rem;
	color: transparent;
	cursor: pointer;
}
#searchbar input[type=search]:hover {
	background-color: transparent;
}
#searchbar input[type=search]:focus {
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
.table-add #searchbar input[type=search]:focus {
	width: 135vh;
}
.table-create #searchbar input[type=search]:focus {
	width: 125vh;
}
.sub-card #searchbar input[type=search]:focus {
	width: 123vh;
}
.sub-tab #searchbar input[type=search]:focus {
	width: 130vh;
}
.sub-tab .sub-card #searchbar input[type=search]:focus {
	width: 115vh;
}
#searchbar input:-moz-placeholder {
	color: transparent;
}
#searchbar input::-webkit-input-placeholder {
	color: transparent;
}

.table-add table {
	margin-bottom: 2rem !important;
}

table {
	text-align: center;
	color: #444444;
	border-collapse: collapse;
	margin: 0 2rem 2rem 2rem !important;
    width: unset !important;
}

thead {
	background-color: #F5F5F5;
}

.table thead th {
    border-bottom: 0px;
}

.table td, .table th {
    border-top: 0px;
	font-size: 0.85rem;
	vertical-align: baseline !important;
	padding: 0.45rem 0.3rem;
}

/* #past .table td, #past .table th {
    width: 9%;
} */

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-striped>tbody>tr:nth-child(even), 
.table-striped>tbody>tr:nth-child(even){
   background-color: rgba(0, 133, 216, 0.075);
 }
 
.table thead th i {
	padding-left: 3px;
 }
 
 .table-hover tbody tr:hover {
  color: #0085D8;
  background-color: rgba(105, 105, 105, 0.3);
}
 
 input[type="text"]::placeholder { 
    text-align: center;
	font-size: 0.85rem;
}

#environment_name, #tag_name, #tag_description {
	margin: 0px auto;
    display: block;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
	font-size: 0.85rem;
}

.nav-tabs .nav-link.active {
	color: #0085d8;
    border-top: 6px solid #0085d8;
    font-weight: bold;
}

.nav-tabs .nav-link{
	background-color: #F7FAFC;
	color: #444444;
	border-top: 6px solid transparent;
	box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.form-control {
	font-size: 0.85rem;
	padding: .3rem;
}
 
label {
    color: #444444;
    margin-right: .5rem;
    font-size: 0.85rem;
}

#column-definition .card-body {
    padding-bottom: 0;
}

.sub-card {
	margin: 0 2rem 1.5rem 2rem;
}

.current .sub-card, #testing1 .sub-card {	
	margin: 1.5rem 2rem;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.selected {
	background-color: #40B5FF !important;
}
 
.pagination {
	float: right;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
}

.mapping {
	text-align: center;
}

.sub-card .col-md-6 {
	text-align: center;
    margin: 15px 0;
    color: #0085d8;
}

#testing table {
	margin: 2rem !important;
}

.form-row {
	align-items: center;
}

.form-row select {
    width: 80%;
}

.form-row i {
	padding: 0 9px;
}

.sub-tab {
	margin: 1.5rem 2rem;
}

.sub-tab .card{
	margin-bottom: 0rem;
}

#summary .card-body {
	padding: 0rem;
}
#summary .row {
	padding: 0.5rem;
}
#summary .col-md-6 {
	padding-right: 0px;
}
#summary i {
    padding: 0.6rem;
    border-radius: 50%;
    font-size: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
}
#summary .fa-users {
    color: #0AA350;
    background-color: rgb(10 163 80 / 30%);
}
#summary .fa-server {
    color: #44A0E3;
    background-color: rgb(68 160 227 / 30%);
}
#summary .fa-tag {
    color: #F48A1D;
    background-color: rgb(244 138 29 / 30%);
}
#summary .fa-link {
    color: #EACF2A;
    background-color: rgb(234 207 42 / 30%);
}
#summary .fa-database {
    color: #E91C2B;
    background-color: rgb(233 28 43 / 30%);
}
#summary .fa-file-code {
    color: #6D330D;
    background-color: rgb(109 51 13 / 30%);
}
#summary .fa-file-alt {
    color: #D90B91;
    background-color: rgb(217 11 145 / 30%);
}
#summary .fa-file-archive {
    color: #693599;
    background-color: rgb(105 53 153 / 30%);
}

.records-processed img {
	width: 100%;
    padding: 1.35rem 0;
}

#recent-past-executions table, .execution-status table, #pending-executions table, .top-tags table {
	width: 100% !important;
	margin: 0rem;
}

.execution-status, .top-tags{
	padding-left: 0px;
}

.execution-status .card-body, .top-tags .card-body{
	padding: 1.25rem 0.5rem
}

.basicInfo .col-md-8 {
	padding-left: 0px;	
}
.basicInfo .col-md-4 {
	padding-left: 0px;	
}

.badge {
    padding: 6px !important;
    margin-top: 5px;
}

.users, .security-role, .companies, .projects, .plugins, .environments, .tags, .connections, .operations, .properties, .test-suite, .test-case, .test-execution, .test-case-execution-history, .test-suite-execution-history, .audit-logs, .notification  {
    padding: .75rem 1.25rem;
}

.permissions h6 {
    font-size: 0.85rem;
    font-weight: bold;
}

.permissions .form-check-inline {
    margin-right: 1.5rem;
    font-size: 0.85rem;
	width: 30%;	
}

.permissions input[type=checkbox] {
    width: unset !important;
    margin-right: 9px;
}

.bootstrap-select .btn {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.hide {
  display: none;
}

.faq-nav {
    flex-direction: column;
    margin: 32px 0;
    border-radius: 2px;    
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.faq-nav  .nav-link {
        position: relative;
	width: 100%;
        display: block;
        margin: 0;
        padding: 13px 16px;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        color: #616161;
        transition: background-color .2s ease;
	font-size: .8rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0085D8;
}

.faq-nav  &:hover {
            background-color: #f6f6f6;
}
        
.faq-nav &.active {
            background-color: #f6f6f6;
            font-weight: 700;
            color: rgba(0,0,0,.87);        
}
        
.faq-nav &:last-of-type {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom: 0;
}
        
.faq-nav i{
            margin-right: 5px;
            font-size: 0.85rem;
            position: relative;
}
#faq-tab-content{
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

#faq-tab-content   .card {
        border-radius: 0;    
	 margin-bottom: 0rem;
    }
    
#faq-tab-content .card-header {
        padding: 15px 16px;
        border-radius: 0;
        background-color: #f6f6f6;
	border-bottom: 1px solid rgba(0,0,0,.125);
}       
#faq-tab-content       h5 {
            margin: 0;
}         
#faq-tab-content  button {
                display: block;
                width: 100%;
                padding: 0;
                border: 0;
                font-weight: 700;
                color: #444444;
                text-align: left;
                white-space: normal;
}
                
#faq-tab-content &:hover,
               .tab-content &:focus,
               .tab-content &:active,
               .tab-content &:hover:active {
                    text-decoration: none;
                }
#faq-tab-content .btn-link:hover {
    color: #444444;
}
#faq-tab-content .card-body p {
    color: rgba(68,68,76,.80);
    margin-bottom: 0;
    font-size: 0.85rem;
}
#faq-tab-content &:last-of-type {
                margin: 0;
            }

#faq-tab-content {
    margin: 32px 0;	
}

.accordion > .card &:not(:first-child) {
            border-top: 0;
        }   

.collapse.show .card-body {
        border-bottom: 1px solid rgba(0,0,0,.125);
}

.avatar-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}
.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
  opacity: 0.5;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 162px;
    background: #ecf0f1;
    color: #0085D8;
    text-align: center;
    font-weight: 900;
}
.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar-wrapper .upload-button i {
    position: absolute;
    font-size: 120px;
    top: 21%;
    left: 21%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #0085D8;
}
.avatar-wrapper .upload-button:hover i {
  opacity: 0.9;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound h2 {
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0085D8;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #0085D8;
  color: #0085D8;
}

#column-mapping .bootstrap-select {
  width: unset;
}

ul, #tree-ul {
  list-style-type: none;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: #444444;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nest-tree {
  display: none;
}

.active-tree {
  display: block;
}

.active-tree,
.active-tree ul {
  margin:0 0 0 .45em; /* indentation */
  padding:0;
  list-style:none;
  position:relative;
}

.active-tree ul {margin-left:.5em} /* (indentation/2) */

.active-tree:before,
.active-tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.active-tree li {
  margin:0;
  padding: .5em 0em .5em 0.75em;
  line-height:2em; 
  position:relative;
}

.active-tree li:before {
  content:"";
  display:block;
  width:10px;
  height:0;
  border-top:1px solid;
  margin-top:.5em; 
  position:absolute;
  top:1em; 
  left:0;
}

.active-tree li:last-child:before {
  background:#f7fafc;
  height:auto;
  top:1em;
  bottom:0;
}

.tree-bg {
  background-color: #f7fafc;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 0.15rem 0.75rem 0 rgb(58 59 69 / 15%) !important;
	color: #444444;
    min-height: 100%;
}

.border-bt {
  border-bottom: 1px solid;
  padding: 3px 0;
}

.tree-span{
	background-color: #0085d8;
    color: #fff;
    border-radius: 6px;
    width: 45%;
    text-align: center;
	padding: 0 0.45em;
}

.tree-li {
	padding: .5em;
}

.tree-bg table {
	text-align: unset !important;
	margin: 0 !important;
    width: 100% !important;
}

.tree-bg .badge {
	padding: 4px !important;
	width: 4em;
}

.icon {
    border-radius: 100%;
	padding: 0.36rem;
    margin: 0.1rem;
    width: 2.4em;
    height: 2.4em;
}

.tree-name {	
    width: 27%;
    display: table-cell;
    text-align: left;
	vertical-align: middle;
}
.card-body .tree-name input {
	border: 1px solid #ced4da;    
	background-color: #fff;
}

.tree-type {    
	width: 21%;
    display: table-cell;
    text-align: center;    
	vertical-align: top;
}
.tree-type .dropdown {
    width: 100% !important;
    padding: 3px;
}
.active-tree .tree-type  li:before {
  border-top:0px solid;
}
.active-tree .tree-type ul:before {
  border-left:0px solid;
}
.tree-action {
	width: 21%;
    display: table-cell;
    text-align: right;	
}
.tree-add {
	width: 12%;
    display: table-cell;
    text-align: right;	
}
.tree-delete {
	width: 10%;
    display: table-cell;
    text-align: right;	
}
.active-tree .badge-dark {
    margin-left: -1.2em;
}
.transformers .table {
	width: -webkit-fill-available !important;
	margin: 3rem 3rem 0 !important;
}

.transformers input {
    width: 50%; 
    background: white;
    border: 1px solid #ced4da;
}

.btn-primary {
    color: #fff;
    background-color: #0085D8 !important;
    border-color: #0085D8 !important;
}
.btn-outline-primary {
    color: #0085D8;
    background-color: transparent;
    background-image: none;
    border-color: #0085D8 !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0085D8 !important;
    border-color: #0085D8 !important;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #0085d8 !important;
    border-color: #0085D8 !important;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}

